/***Base do site******/
*{
	padding:00%;
	color: #000;
	font-family: "Times New Roman";
}
body{
	background-image: url("https://tacianacavalcanti.github.io/img/topo-sp.jpg");
	background-repeat: no-repeat;
	background-size: 100% 250px;
	background-color: #fffafa;
}
/***Layout***/
main{
	margin: 10% auto;
	width: 70%;
	background-color: rgba(255, 255, 255, 0.8)
}
header{
	height: 29%;
	
}
#trabalho{
	width: 69%;
	height: 50%;
	float: right;
	
}
#pessoal{
	width: 29%;
	height: 50%;
	
}
footer{
	
}
/***Textos***/
.texto-logo{
	text-align: center;
}
