/* Limpar css */
*{
	padding: 0px;
	margin: 0px;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}
/* Base */
html{
	--gray-dark: #4D5E77;
	--gray-blue: #A1B2CD;
	--gray-medium: #D3D9E2;
	--gray-ligth: #E5EAF1;
	
	font-size: 62.5%; /*10px*/
}
body{
	background: var(--gray-dark);
	color: var(--gray-ligth);
}
header{
	position: fixed;
	top: 0px;
	width: 100%;

}
div.logo{
	clear: both;
   float: left;
	padding: 5px 20px;
}
nav.menu{
	width: 60%;
	position: relative;
	float: right;
	margin-right: 300px;
	margin-top: 23px;
	
	text-align: right;
}
section{
	height: 100vh;
}
section.home, h1, h2{
	position: relative;
	text-align: center;
}
div.conteudo-home{
	margin-top: 25%;
}
/* texto */
h1, h2, h3, h4, a {
	font-family: 'Montserrat', sans-serif;
	
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
}
h1{
	font-size: 4rem;
}
a.item-menu{
	color: var(--gray-ligth);
	font-size: 1.6rem;
	margin: 10px;
	text-transform: uppercase;
	

}